<html>
	<head>
		<link rel="stylesheet" type="text/css" href="sample.css">
		<link href="https://fonts.googleapis.com/css?familyb=Montserrat|Roboto" rel="stylesheet">
		<title>
			<%= data["title:"] %>
		</title>
	</head>
	<body>
		<h1><%= data["title:"] %></h1>
		<h5>BaseURI: <%= data["baseUri:"]%></h5>
		<h2>Types</h2>
			<%= if Map.has_key?(data, "types:") do %>
				<%= for key <- Map.keys(data["types:"]) do %>
					<% 
						sane_key = String.trim(key, ":")
						type = data["types:"][key]
					 %>
					<p class="typename" id="<%=sane_key%>"><%= sane_key %></p>

					<%= if Map.has_key?(type, "description:") do %>
					<p class="description">
						This represents a broadcast that either has been or will be sent to a customer.
					</p><%end%>

					<p class="properties">Properties</p>

					<%= for prop <- Map.keys(type["properties:"]) do %>
						<p class="property"><span class="property-name"><%=prop%></span><span class="property-type"><%=type["properties:"][prop]%></span></p>
					<% end %>
				<% end %>
			<% end %>
		<h2>Endpoints</h2>


		<%= SoggyHedgehog.HtmlOutput.render_endpoints(data["endpoints:"]) %>

	</body>
</html>